 <h1>About Us</h1>
<p>
Welcome to Scottshare. This is a webpage designed to help UC Riverside students share books and other items with each other. We hope that students can benefit from this project. Created by David Namkoong.
</p>
