<h1>Help</h1>
<p>
	Welcome to Scottshare! We are hoping the website is already self-explanatory to use. All you need to do is
	post the item you want to sell, the description of the item , and the location you would prefer for transaction.
	We believe this will be a safe way for UC Riverside students to conveniently share and sell items that they wish to.
	If you have any other questions, you can get help by contacting us.
</p>